@use "variables" as variables;

img {
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 900;
}

a {
  text-decoration: none;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: variables.$fuente_principal;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

section {
  padding: 10rem 0rem;
}

ol,ul{
  list-style: none;
}