// FUENTE / TIPOGRAFIA
$fuente_principal: "Montserrat", sans-serif;

// COLORES
$blanco: #ffffff;
$negro: #000000;
$verde: #4db7b4;
$amarillo: #fdda00;
$rosado: #f53757;
$morado: #752f97;

// MEDIDAS PARA RESPONSIVE
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1440px;
