@use "../base/variables" as variables;
@use "../base/mixin" as mixin;

.galeria {
  position: relative;
  h2 {
    color: variables.$negro;
    text-align: center;
    font-size: 6rem;
    margin-bottom: 5rem;
  }
}

.galeria-imagenes {
  @include mixin.contenedor();

  @include mixin.grid(1, 2rem);

  @include mixin.celular() {
    @include mixin.grid(2, 2rem);
  }

  @include mixin.tablet() {
    @include mixin.grid(3, 2rem);
  }

  @include mixin.desktopXL() {
    @include mixin.grid(4, 2rem);
  }

  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btnModal {
    opacity: 12;
    background-color: variables.$blanco;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    cursor: pointer;
  }
  .imgModal {
    max-width: 80rem;
    object-fit: cover;
    height: 50rem;
    margin-bottom: 3rem;
  }
}
